h1 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 0;
}
.App {
  text-align: center;
}
.initialState {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.logotype {
  margin-bottom: 2em;
  width: 80%;
}
.calendarBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calendar {
  list-style-type: none;
  padding: 0;
  align-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
  margin-block-end: 0.1em;
  margin-block-start: 0;
}
.day {
  display: block;

  border: 1px solid gainsboro;
  padding: 12px 12px 12px 12px;
}
.calendarHeader {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 100%;
  background-color: lavender;
}
.arrows {
  display: inline-block;
  border: none;
  padding: 0.5em 0em;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: black;
  font-family: sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.monthName {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.2rem;
  justify-content: center;
  width: 30%;
}
.episodesList {
  margin-top: 4em;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.episode {
  padding: 1em;
  border: 1px solid gainsboro;
  margin: 1em;
}
.back_button_to_initial_state {
  z-index: 15;
  position: fixed;
  padding: 0.54em;
  left: 0;
  top: 0;
  font-size: 1.6em;
}
.header {
  z-index: 11;
  background-color: rgb(235, 230, 230);
  padding: 1em 0 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.tvShowLogo {
  width: 100px;
  height: auto;
}
.show_container {
  display: flex;
  text-align: center;
}
.descriptionContainer {
  width: 100%;
  text-align: center;
}
.original_size {
  flex-direction: column;
}
.original_size img {
  width: 100%;
}
